// Specific CSS for your home-page


.home-banner-text-container {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.lower-home {
    background-color: white;
}

#banner-typed-text {
  font-size: 39px;
}
