
<div class="banner">
  <div class="container justify-content-center d-flex  align-items-center">
    <div class="col-12 col-lg-6 home-banner-text-container">
      <div>
         <img src='https://res.cloudinary.com/dleebu5sp/image/upload/v1621349642/Colorful_Sneakers_PNG_Clipart-487_vu9cr6.png' style='width: 80%;'/>
      </div>
      <div class="mt-2">
        <h1>SHOES QUI PEUT</h1>
      </div>
    </div>

    <div class="col-12 col-lg-6 home-banner-text-container ">
      <div>
        <h2>Venez échanger vos chaussures</h2>
      </div>
      <div>
      <%=link_to 'Inscription', new_user_session_path, class: "btn btn-flat"%>
      </div>
    </div>

  </div>
</div>

<div class= "row justify-content-center mt-4">
  <%=link_to 'Start searching', shoes_path, class: "btn btn-flat"%>
</div>

<div>

  <div class= "row justify-content-center mt-4">
    <h1>Why Shoes qui peut ?</h1>
  </div>

  <div class="container justify-content-center d-flex mt-4 lower-home ">
    <div class="col-12 col-lg-6">
      <div class="notification">
        <i class="fas fa-leaf"></i>
        <div class="notification-content">
          <h2><small>Eco Friendly</small></h2>
          <p>Produir moins consommer mieux ! Avec "Shoes qui peut", vous reduisez votre impact environnemental</p>
        </div>
      </div>

      <div class="notification">
        <i class="fas fa-balance-scale-left"></i>
        <div class="notification-content">
          <h2><small>Gain de place</small></h2>
          <p>Fini les chaussures au fond du placard que l'on ne porte jamais ! En louant vos chaussures avec Shoes qui peut", gagnez de la place et arrondissez vos fins de mois</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="notification">
        <div class="notification-content">
          <h2><small>Economie</small></h2>
          <p>Grâce à "Shoes qui peut", faites des économies ! Fini les achats compulsifs, Essayez vos nouvelles chaussures avant de les adopter </p>
        </div>
        <i class="fas fa-hand-holding-usd"></i>
      </div>

      <div class="notification">
        <div class="notification-content">
          <h2><small>Change your life, Change your shoes</small></h2>
          <p>Une occasion spéciale ? Envie de changer de style ? Louez vos chaussures pour chaque occasion</p>
        </div>
        <i class="fas fa-dice"></i>
      </div>
    </div>

  </div>

</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Join us <i class="fas fa-heart"></i> at Shoes qui peut !
  </div>
</div>
